JWT_SECRET=your-jwt-secret-key

DB_URL=jdbc:postgresql://localhost:5432/your-db
DB_USERNAME=username
DB_PASSWORD=password

# in millis
ACCESS_TOKEN_EXPIRATION=600000

# in days
REFRESH_TOKEN_EXPIRATION=1

# bootstrap admin
ADMIN_EMAIL=admin@medical.com
ADMIN_PASSWORD=admin123
ADMIN_FIRST_NAME=System
ADMIN_LAST_NAME=Administrator

PASSWORD_ENCODER_STRENGTH=12
CLIENT_BASE_URL=http://localhost:3030
