# ---------- Database ----------
POSTGRES_HOST=<db-host>
POSTGRES_PORT=<db-port>
POSTGRES_DB=<db-name>
POSTGRES_USER=<db-username>
POSTGRES_PASSWORD=<db-password>

# ---------- Security ----------
JWT_SECRET=<jwt-secret>

PASSWORD_ENCODER_STRENGTH=12

# in millis
ACCESS_TOKEN_EXPIRATION=600000

# in days
REFRESH_TOKEN_EXPIRATION=1

# ---------- Bootstrap Admin ----------
ADMIN_EMAIL=<admin-email>
ADMIN_PASSWORD=<admin-password>
ADMIN_FIRST_NAME=System
ADMIN_LAST_NAME=Administrator

# ---------- Client ----------
CLIENT_BASE_URL=http://localhost:5173
