JWT_SECRET=your-jwt-secret-key

DB_URL=jdbc:postgresql://localhost:5432/your-db
DB_USERNAME=username
DB_PASSWORD=password

# in millis
ACCESS_TOKEN_EXPIRATION=600000

# in days
REFRESH_TOKEN_EXPIRATION=1

PASSWORD_ENCODER_STRENGTH=12
CLIENT_BASE_URL=http://localhost:3030
